
.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}
h1{
  opacity: 0.8;
}
p{
  opacity: 0.8;
}


.App-header {

  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


